body {
    
    padding: 0;
    margin: 0;
}

h1{
    display:flex;
   justify-content:center;
}

.container{
        display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%
    

}
form{
    background-color: rgba(232, 72, 23, 0.827);
    border:1px solid rgb(212, 106, 30);
    max-width:  100%;
    padding: 10px;
}
